%% -*- mode: erlang -*-
%%
%% {{ ansible_managed }}
[
 {rabbit,
  [
   {% if rabbitmq_cluster_reverse_dns_lookups -%}
   {reverse_dns_lookups, true},
   {% endif -%}

   {vm_memory_high_watermark, {{ rabbitmq_cluster_vm_memory_high_watermark }} },
   {vm_memory_high_watermark_paging_ratio, {{ rabbitmq_cluster_vm_memory_high_watermark_paging_ratio }} },
   {disk_free_limit, {{ rabbitmq_cluster_disk_free_limit }} },

   %%
   %% Clustering
   %% =====================
   %%

   %% Queue master location strategy:
   %%   * <<"min-masters">>
   %%   * <<"client-local">>
   %%   * <<"random">>
   %%
   %% Related doc guide: https://www.rabbitmq.com/ha.html#queue-master-location
   %%
   %% {queue_master_locator, <<"client-local">>},

   %% Batch size (number of messages) used during eager queue mirror synchronisation.
   %% Related doc guide: https://www.rabbitmq.com/ha.html#batch-sync. When average message size is relatively large
   %% (say, 10s of kilobytes or greater), reducing this value will decrease peak amount
   %% of RAM used by newly joining nodes that need eager synchronisation.
   %%
   %% {mirroring_sync_batch_size, 4096},

   %% Enables flow control between queue mirrors.
   %% Disabling this can be dangerous and is not recommended.
   %% When flow control is disablied, queue masters can outpace mirrors and not allow mirrors to catch up.
   %% Mirrors will end up using increasingly more RAM, eventually triggering a memory alarm.
   %%
   %% {mirroring_flow_control, true},

   %% Additional server properties to announce to connecting clients.
   %%
   %% {server_properties, []},

   %% How to respond to cluster partitions.
   %% Related doc guide: http://www.rabbitmq.com/partitions.html
   %%
   %% {cluster_partition_handling, ignore},

   %% Mirror sync batch size, in messages. Increasing this will speed
   %% up syncing but total batch size in bytes must not exceed 2 GiB.
   %% Available in RabbitMQ 3.6.0 or later.
   %%
   %% {mirroring_sync_batch_size, 4096},

   %% Make clustering happen *automatically* at startup - only applied
   %% to nodes that have just been reset or started for the first time.
   %% Related doc guide: http://www.rabbitmq.com/clustering.html#auto-config
   %%
   %% {cluster_nodes, {['rabbit@my.host.com'], disc}},

   %% Interval (in milliseconds) at which we send keepalive messages
   %% to other cluster members. Note that this is not the same thing
   %% as net_ticktime; missed keepalive messages will not cause nodes
   %% to be considered down.
   %%
   %% {cluster_keepalive_interval, 10000},

   {collect_statistics, {{ rabbitmq_cluster_collect_statistics }} },
   {collect_statistics_interval, {{ rabbitmq_cluster_collect_statistics_interval }} },

   {mnesia_table_loading_retry_limit, {{ rabbitmq_cluster_mnesia_table_loading_retry_limit }} },
   {mnesia_table_loading_retry_timeout, {{ rabbitmq_cluster_mnesia_table_loading_retry_timeout }} }
  ]},

 {kernel,
  [
   {net_ticktime, {{ rabbitmq_cluster_net_ticktime }} }
  ]}
].
